main{    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 85vh;

    aside{
        width: 400px;
        height: 70%;
        color: #f3f3f3;
        
        .title{
            display: flex;

            h1{
                text-transform: uppercase;

                font-size: 32px;
                font-family: 'Poppins', sans-serif;

                animation: fade 1.5s;
            }

            span{
                margin-left: 2px;
                font-size: 30px;

                animation: fade 2s;
            }
        }

        .sub-title{
            text-transform: uppercase;

            font-size: 18px;
            font-family: 'Poppins', sans-serif; 

            animation: fade 2.5s;
        }

        .cta-link{
            font-family: 'IBM Plex Mono', sans-serif;
            
            
            p{
                margin-top: 12px;
                animation: fade 3s;
                font-size: 18px;

                span{
                    color: #7879F1;
                    font-weight: bold;
                }
            }
        }
    }

    .hero-image{
        display: flex;
        align-items: center;
        justify-content: center;

        animation: fade 2.5s;

        height: 100%;

        img{
            max-width: 100%;
        }
    }
}

@media (max-width: 1368px){
    main{    
        .hero-image{  
            width: 40%;
            justify-content: flex-end;

            img{
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 800px){
    main{ 
        aside{
            display: flex;
            justify-content: center;
            
            margin-top: 100px;
        }

        .hero-image{  
            display: none;
        }
    }
}

